<%- include('../partials/head.ejs')%>
<body>
  <header>
    <%- include('../partials/nav.ejs') %>
    <h1>Welcome to HOME AT YOUR PLACE</h1>
  </header>
  <main class="houses-container">
    <%  houses.forEach(house => { %>
       <div class="house-card">
         <img src="download.jfif" alt="House image">
         
         <%if(role==='visitor'){ %>
         <div class="fav">
          <% if (favourites.includes(house.id)){ %>
            <form action="/favourite/<%=house.id %>" method="post">
              <input type="hidden" name="action" value="removeFav">
              <button type="submit" class="fav-btn fav-active" title="Remove from favorites">❤️</button>
            </form>
          <%} else { %>
            <form action="/favourite/<%=house.id %>" method="post">
              <input type="hidden" name="action" value="makeFav">
              <button type="submit" class="fav-btn fav-inactive" title="Add to favorites">♡</button>
            </form>
          <%}%>
         </div>
        <%}%>
         
         <div class="card-content">
          <p class="house-price"><strong>Price:</strong> <%= house.price %></p> 
          <p class="house-location"><strong>Location:</strong> <%= house.address %></p>
          <div class="card-links">
            <a href="/home-details/<%= house.id %>" class="detail-link">View Details</a>


            <% if (role!='owner'){ %>
            <a href="/home-details/<%= house.id %>/paymentDetails" class="book-now-btn">BOOK ME</a>  <%}%>
          </div>
         </div>
       </div>
       
    <%})%>
  </main>
  
</body>
</html>