<%- include('../partials/head.ejs')%>
<body>
  <%- include('../partials/nav.ejs')%>
  <h3>Your Home Is Registered With Following Details</h3>
  <h5>House Name :<%= houseName %><br> Price :<%=price%> <br> Contact No. :<%= contactNo %> <br> Address :<%= address %> <br> Image :<%= image %> <br> Description : <%= description %></h5>
  
</body>
</html>